/*     R E S E T
 ------------------------ */

 *{
	margin:  0;
	padding: 0;
}

/*     B O D Y
 ------------------------ */
body{
	background-color: #000000;
	background: url(images/page-bg.jpg);
}


/*     W R A P P E R
 ------------------------ */

#wrapper{
	width:  800px;
	margin: 20PX auto;
}

/*     H E A D E R
 ------------------------ */

header{
	width: 800px;
	height: 200px;
        background-image: url("Pics/headerimage.jpg");
   /*-- background-position: 0 -100px; --*/ 
}


/*     N A V B A R
 ------------------------ */

/*
----------------------------------
- #navBar{			 -
-	width: 800px;		 -
-	height: 30px;		 -
-	background-color: green; -
-  	 }				  
---------------------------------- */

#nav{
	width: auto;
	height: 30px;
	background-color: green;
	margin:	0;
	padding-top: 5px;
	background-image: url("Pics/navimage.jpg");
        background-position: 0; 
}
 

#nav li{
	display: inline;
	float: right;
	padding-right: 20px;
	color: yellow;
	text-align: justify;
        
}

#nav a{
	color: yellow;
	text-decoration: none;
	
}

/*     C O N T E N T
 ------------------------ */

#Content{
	width: 800px;
	height: 500px;
	background-color:  #CD853F;
     /*	background-image: url("Pics/contentimage.jpg"); */
	
}

#Content1{
	width: 800px;
	height: 900px;
	background-color:  #CD853F;
     /*	background-image: url("Pics/contentimage.jpg"); */
	
}

#contentTXT{
	
	padding: 30px 0 0 30px;
}

#contentTXT1{
	margin: 0;
	padding: 30px 0 0 30px;
	color: navy;
  	text-align: center;
	font-size: 50px;
}


/*     F O R M / E M A I L 
 ---------------------------- */

.clear{ 
	clear: both; 
}


fieldset{ 
	border: none; 
}


input, textarea, a{ 	
	outline: none; 
}



#page-wrap {
	
	width: 800px;
	
	margin: 0 auto;
	
	background: url(images/form-bg.jpg) bottom left no-repeate transparent ;
	
	min-height: 600px;

}


form {
	
	padding: 83px 0 0 76px;

}


h1 {
	
	text-align: center;
	
	padding-top: 200px;

}


#formLeft {
	
	width: 320px;
	
	float: left;
	
}
	

#formLeft input {
		
	width: 250px;
		
	margin: 0 0 20px 0;
		
	border: none;
		
	text-align: center;
		
	background: none;
		
	margin: 13px 0 0 8px;
		
	font-size: 1.4em;
	
}
	

#formLeft .input-bg {

	background: url(images/form-sm-bg.jpg) bottom left no-repeat transparent;
	
	height: 45px;
		
	margin-bottom: 10px;
		
	position: relative;

}

	
#formLeft .active {
		
	background: url(images/form-sm-bg.jpg) top left no-repeat transparent;
	
}


#formRight {
	
	width: 360px;
	
	float: right;
	
	padding-right: 44px;
	
}


#formRight textarea {

	width: 298px;
		
	height: 209px;
		
	display: block;
	
	border: none;

	background: none;

	margin: 0 0 0 20px;
		
	padding: 13px 0 13px 0;

	font-family: Helvetica, sans-serif;
	
	font-size: 1.3em;
		
	overflow: auto;
	
}
	

#formRight .message-bg {

	background: url(images/message-bg.jpg) bottom left no-repeat transparent;
		
	height: 238px;
	
}
	
	
#formRight .active {

	background: url(images/message-bg.jpg) top left no-repeat transparent;
	
}


label {

	display: block;
	
	font-size: 1.3em;
	text-indent: 10px;

	font-weight: bold;

}


label.error{

	position: absolute;
	
	top: -16px;
	
	right: 49px;
	
	padding: 3px;
	
	color: #da3939;
	
	font-size: 1.0em;

	text-align: right;

	font-style: italic;

	font-weight: normal;

}


input.submit-button {

	float: right;
	
	padding-right: 31px;

}

/*     F O O T E R
 ------------------------ */

footer{
	width: 800px;
	height: 35px;
	background-color: green;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-image: url("Pics/navimage.jpg");
    /*	background-position: right; */
    	background-position: right 35% bottom 45%;     
}